WALLET_PROVIDER_METHOD=keystore
CREDENTIALS_ADDRESS=0x000000
CREDENTIALS_KEYSTORE=~/Dev/io.parity.ethereum/config/keys/FuseNetwork/
CREDENTIALS_PASSWORD=~/Dev/io.parity.ethereum/config/pass.pwd

#WALLET_PROVIDER_METHOD=mnemonic
#MNEMONIC=sniff hour weekend august credit alley crumble process rubber select child eternal

### Deployment ###
BLOCK_REWARD_IMPLEMENTATION=0x000000
BLOCK_REWARD_PROXY=0x000000
CONSENSUS_IMPLEMENTATION=0x000000
CONSENSUS_PROXY=0x000000
PROXY_STORAGE_IMPLEMENTATION=0x000000
PROXY_STORAGE_PROXY=0x000000
VOTING_IMPLEMENTATION=0x000000
VOTING_PROXY=0x000000

INITIAL_VALIDATOR_ADDRESS=0x000000
INITIAL_SUPPLY_GWEI=300000000000000000
DEBUG=false