# general
ROLE=validator

# in case `sudo` is needed
PERMISSION_PREFIX=

# netstats validator name
VAL_NAME=

MAX_PROCESSING_TIME=60000

# Set to true to fuses pre-exsisting snapshot to speed up initial sync (note this will require additional disk space to store the temp zip)
USE_SNAPSHOT=false