# general
ROLE=node
NODE_KEY=<your_node_key>

# in case `sudo` is needed
PERMISSION_PREFIX=

# Parity conatiner optional config
# NUMBER_OF_RPC_THREADS should be less than or equal to the number of cpu cores
# NUMBER_OF_HTTP_CONNECTIONS_THREADS should be the amount of maximum concurrent connection you require (recommended <= 4 * cpu cores)
NUMBER_OF_RPC_THREADS=1
NUMBER_OF_HTTP_CONNECTIONS_THREADS=4

ENABLE_AUTO_UPDATE=1
